- content_for(:title, "Dashboard")
#team_show.mdl-cell--12-col.mdl-grid
	%div.mdl-cell--12-col
		%h3= "#{current_team.school.name} (#{current_team.school.initials})"

	%div.mdl-cell--6-col
		%h5 Vimeo
		<iframe src="https://player.vimeo.com/video/151912128" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

	%div.mdl-cell--6-col
		%h5 YouTube
		<iframe width="560" height="315" src="https://www.youtube.com/embed/_X-nImlwz0w" frameborder="0" allowfullscreen></iframe>

	%div.mdl-cell--6-col
		%h5 hudl
		<iframe src='//www.hudl.com/embed/video/3/1489895/5721aeed4df6124b70e6aa3e' width='640' height='360' frameborder='0' allowfullscreen></iframe>

