- content_for(:title, "About")
%div.row
	%div.col-sm-10.col-sm-offset-1
		%div.card
			%div.title
				%h1
					About scorbordapp
			%div.content
				%p
					This is where we can talk about scorbord.
				%p
					We wanted to create the coolest freaking tools for coaches that also empower them to gain a competitive edge over their competition while at the same time making their lives easier.
%div.row
	%div.col-sm-10.col-sm-offset-1
		%div.card
			%div.title
				%h1
					Contact Us
			%div.content
				%p
					Email us at 
					= link_to 'us@scorbord.com', 'mailto:us@scorbord.com'