-content_for(:title, "Request Received")
%div.mdl-grid.mdl-color--light-green
	%div.pricing-section-header
		%h2= "Thanks, #{requester}!"
		%h5	We'll notify you via email when your request has been approved!