- content_for(:title, "Roster")
%div.demo-cards.mdl-cell.mdl-cell--4-col.mdl-cell--8-col-tablet.mdl-grid.mdl-grid--no-spacing
%div.mdl-cell.mdl-cell--12-col.mdl-cell-12-col-tablet.mdl-grid.mdl-grid--no-spacing
  %table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp.mdl-data-table--selectable
    %thead
      %tr
        %th.mdl-data-table__cell--non-numeric First Name
        %th.mdl-data-table__cell--non-numeric Last Name
        %th Age
    %tbody
      %tr
        %td.mdl-data-table__cell--non-numeric Steven
        %td.mdl-data-table__cell--non-numeric Holt
        %td 28
      %tr
        %td.mdl-data-table__cell--non-numeric Kelsey
        %td.mdl-data-table__cell--non-numeric Holt
        %td 27
      %tr
        %td.mdl-data-table__cell--non-numeric Sophie
        %td.mdl-data-table__cell--non-numeric Jane
        %td 5
