- content_for(:title, "Home")
%div.row
	%div.col-sm-8.col-sm-offset-2
		%div.card
			%div.title
				%h1
					The hottest site to manage your team
			%div.content
				%p
					There are a ton of features and ideas and dreams that we have for building a tool that helps you, Coach, manage the day-to-day operations of your team.  From keeping track of player and parent contact information to managing your game/match/meet schedule to collecting and analyzing performance statistics, we have about 4 billion ideas for ways that technology can give you that extra edge over your competition.