- content_for(:title, "Home")
%div.row
	%div.col-sm-12
		%div.card
			%div.title
				%h1
					scorbordapp
				%p
					The world's greatest Roster app for coaches.
			%div.content
				%p
					I'm a thing.  But, like most politicians, he promised more than he could deliver.  You won't have time for sleeping, soldier, not with all the bed making you'll be doing.  Then we'll go with the data file!  Hey, you add a one and two zeros to that or we walk!  You're going to do his laundry?  I've got to find a way to escape.
%div.row
	%div.col-sm-6
		%div.card.first
			%div.title
				%h1
					scorbordapp
				%p
					The world's greatest Roster app for coaches.
			%div.content
				%p
					I'm a thing.  But, like most politicians, he promised more than he could deliver.  You won't have time for sleeping, soldier, not with all the bed making you'll be doing.  Then we'll go with the data file!  Hey, you add a one and two zeros to that or we walk!  You're going to do his laundry?  I've got to find a way to escape.
	%div.col-sm-6
		%div.card
			%div.title
				%h1
					scorbordapp
				%p
					The world's greatest Roster app for coaches.
			%div.content
				%p
					I'm a thing.  But, like most politicians, he promised more than he could deliver.  You won't have time for sleeping, soldier, not with all the bed making you'll be doing.  Then we'll go with the data file!  Hey, you add a one and two zeros to that or we walk!  You're going to do his laundry?  I've got to find a way to escape.
	%div.col-sm-6
		%div.card
			%div.title
				%h1
					scorbordapp
				%p
					The world's greatest Roster app for coaches.
			%div.content
				%p
					I'm a thing.  But, like most politicians, he promised more than he could deliver.  You won't have time for sleeping, soldier, not with all the bed making you'll be doing.  Then we'll go with the data file!  Hey, you add a one and two zeros to that or we walk!  You're going to do his laundry?  I've got to find a way to escape.
	%div.col-sm-6
		%div.card
			%div.title
				%h1
					scorbordapp
				%p
					The world's greatest Roster app for coaches.
			%div.content
				%p
					I'm a thing.  But, like most politicians, he promised more than he could deliver.  You won't have time for sleeping, soldier, not with all the bed making you'll be doing.  Then we'll go with the data file!  Hey, you add a one and two zeros to that or we walk!  You're going to do his laundry?  I've got to find a way to escape.
	%div.col-sm-3
		%div.card
			%div.title
				%h1
					scorbordapp
				%p
					The world's greatest Roster app for coaches.
			%div.content
				%p
					I'm a thing.  But, like most politicians, he promised more than he could deliver.  You won't have time for sleeping, soldier, not with all the bed making you'll be doing.  Then we'll go with the data file!  Hey, you add a one and two zeros to that or we walk!  You're going to do his laundry?  I've got to find a way to escape.
	%div.col-sm-3
		%div.card
			%div.title
				%h1
					scorbordapp
				%p
					The world's greatest Roster app for coaches.
			%div.content
				%p
					I'm a thing.  But, like most politicians, he promised more than he could deliver.  You won't have time for sleeping, soldier, not with all the bed making you'll be doing.  Then we'll go with the data file!  Hey, you add a one and two zeros to that or we walk!  You're going to do his laundry?  I've got to find a way to escape.
	%div.col-sm-4
		%div.card
			%div.title
				%h1
					scorbordapp
				%p
					The world's greatest Roster app for coaches.
			%div.content
				%p
					I'm a thing.  But, like most politicians, he promised more than he could deliver.  You won't have time for sleeping, soldier, not with all the bed making you'll be doing.  Then we'll go with the data file!  Hey, you add a one and two zeros to that or we walk!  You're going to do his laundry?  I've got to find a way to escape.
	%div.col-sm-2
		%div.card
			%div.title
				%h1
					scorbordapp
				%p
					The world's greatest Roster app for coaches.
			%div.content
				%p
					I'm a thing.  But, like most politicians, he promised more than he could deliver.  You won't have time for sleeping, soldier, not with all the bed making you'll be doing.  Then we'll go with the data file!  Hey, you add a one and two zeros to that or we walk!  You're going to do his laundry?  I've got to find a way to escape.
%div.row
	%div.col-sm-8.col-sm-offset-2
		%div.card
			%div.content
				%p
					I'm a thing.  But, like most politicians, he promised more than he could deliver.  You won't have time for sleeping, soldier, not with all the bed making you'll be doing.  Then we'll go with the data file!  Hey, you add a one and two zeros to that or we walk!  You're going to do his laundry?  I've got to find a way to escape.