-content_for(:title, "Pricing")
%div.mdl-grid.mdl-color--light-green
	%div.pricing-section-header
		%h2 The perfect price point	
	%div.pricing-section-details.mdl-grid
		%div.mdl-cell--6-col.card-centered
			%div.mdl-card.mdl-shadow--4dp
				%div.mdl-card__title
					%h2.mdl-card__title-text
						Beta Program Access
				%div.mdl-card__supporting-text.mdl-typography--text-center
					Early access to new features
					%br
					Access to premium features
					%br
					Discounted membership after beta
					%br
					Limited beta spots available
					%h2.price
						Free Dollars
				%div.mdl-card__actions.mdl-card--border
					= link_to "Sign up for beta program", new_user_path, class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"