- content_for(:title, "Profile")
%div.row
	%h1
		User profile
	%div.col-sm-8.col-sm-offset-2
		%div.card
			%div.title
				%h1
					= @user.name
			%div.content
				%p
					Email:
					= @user.email
				- if current_user?(@user)
					%div.form_actions
						= link_to 'Edit', edit_user_path(current_user), class: 'btn-flat'