-content_for(:title, "Schools")
%div#school_index.mdl-cell--12-col.mdl-grid
  %div.mdl-cell--12-col
    %ul.mdl-list
      - @schools.each do |school|
        %li.mdl-list__item.mdl-list__item--two-line
          %span.mdl-list__item-primary-content
            %span
              #{school.name} (#{school.initials})
            %span.mdl-list__item-sub-title
              = school.mascot.pluralize
          %span.mdl-list__item-secondary-content
            = link_to admin_school_path(school) do
              %i.material-icons
                forward
