!!!
%html(lang='en-US')
	%head
		%title Scorbord
		%meta(charset="UTF-8")
	%body(style="padding: 0; margin: 0; font: normal 14px Helvetica, Arial, sans-serif; color: #616161; background: #f8f8f8;")
		%table(style="width: 600px; margin: 30px auto; border-spacing: 0; border-collapse: collapse; border: 6px solid #cdd0d6; font-size: 16px; line-height: 150%;")
			= yield
